.container {
  padding: 0 17px 0 12px;
  max-width: 1171px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;

  &--izrael {
    padding: 0 13px 0 6px;
  }

  @media (max-width: $tablet--max) {
    &--izrael {
      padding: 0 17px 0 12px;
    }
  }

  @media (max-width: $mobile--max) {
    max-width: 768px;
    padding: 0 16px;
  }
}
